{% extends 'model-page.html' %}

{% block title %} Alunos {% endblock %}
{% block content %} 

<!-- Modal de Exclusão--> 
<div class='modal fade' id='modal_confirm'>
    <div class='modal-dialog modal-dialog-centered'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'> Deseja realmente excluir? </h4>
                <button type='button' class='close' data-dismiss='modal'>&times;</button>
            </div>
            <div class='modal-body text-right'>
                <a href='/aluno/deletar/{{aluno.id}}'>
                    <button type='button' class='btn btn-danger'>
                        EXCLUIR
                    </button>
                </a>
                    <button type='button' class='btn btn-default' data-dismiss='modal'>
                        CANCELAR
                    </button>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h5 class='text-center' "border-bottom pb-2 mb-0">Detalhes do Aluno</h5>
            
            <div class="d-flex text-muted pt-3">
                <strong class="d-block text-gray-dark">Matrícula:&nbsp; </strong>
                {{aluno.matricula}}
            </div>

            <div class="d-flex text-muted pt-3">
                <strong class="d-block text-gray-dark">Nome:&nbsp; </strong>
                {{aluno.nome}}
            </div>

            <div class="d-flex text-muted pt-3">
                <strong class="d-block text-gray-dark">Situação:&nbsp; </strong>
                {{aluno.get_situacao_display }}
            </div>

            <div class="d-flex text-muted pt-3">
                <strong class="d-block text-gray-dark">Idade:&nbsp; </strong>
                {{aluno.idade}}
            </div>

            <div class="d-flex text-muted pt-3">
                <strong class="d-block text-gray-dark">Nascimento:&nbsp; </strong>
                {{aluno.nasc}}
            </div>

            <div class="d-flex text-muted pt-3">
                <strong class="d-block text-gray-dark">Observações:&nbsp; </strong>
                {{aluno.observacoes}}
            </div>

            <div class="d-flex text-muted pt-3">
                <strong class="d-block text-gray-dark">Data de Cadastro:&nbsp; </strong>
                {{aluno.cadastro}}
            </div>

            <div class="d-flex text-muted pt-3">
                <strong class="d-block text-gray-dark">Última Atualização:&nbsp; </strong>
                {{aluno.atualizacao}}
            </div>

            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <a href='/aluno/register/?id={{aluno.id}}'>
                    <button type='button' class='btn btn-primary'> Alterar </button>
                </a>
                <button type='button' class='btn btn-danger' data-toggle='modal'data-target='#modal_confirm'> Excluir </button>
                <a href='/historico/detail/'>
                    <button type='button' class='btn btn-info'> Histórico </button>
                </a>
            </div>
        </div>
    </div>     
{% endblock %}  