{% extends 'model-page.html' %}

{% block title %} Curso {% endblock %}
{% block content %}
    <div class="container">
                
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h5 class='text-center' 'border-bottom pb-2 mb-0'>Cadastro de Cursos</h5>

            <form enctype='multipart/form-data' action='submit', method='POST'>{% csrf_token %}
                <input class='form-control' name='curso_id' type='number' value='{{ curso.id}}' hidden>

                <div class='form-group'>
                    <label for='nome'>Nome do Curso</label>
                    <input class='form-control' name='nome' type='text' value='{{ curso.nome}}'>
                </div>

                <div class='form-group'>
                    <label for='totalCreditos'>Total de Créditos</label>
                    <input class='form-control' name='totalCreditos' type='number' value='{{ curso.totalCreditos}}'>
                </div>

                <div class="form-row field-matricula">     
                    <div>          
                        <label class="required" for="id_coordenador">Coordenador</label>
                        <select name="coordenador" id="id_coordenador">
                            {% if curso %}
                            <option value="{{curso.coordenador}}">{{curso.coordenador}}</option>
                            {% endif %}
                            {% for c in professor%}
                            <option value="{{c.nome}}">{{c.nome}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>
                <br>

                <button type='submit' class='btn btn-primary'>  
                    {% if curso %}
                        Alterar
                    {% else %}
                        Cadastrar
                    {% endif %}
                </button>
            </form>
        </div>
    </div>

{% endblock %}
